<form action="" class="form">
  <h1 class="form-title">Registration</h1>
  <label class="form-label">
    First Name
    <input class="form-input" type="text" placeholder="Done" name="" id="" />
  </label>
  <label class="form-label">
    Last Name
    <input class="form-input" type="text" placeholder="Joe" name="" id="" />
  </label>
  <label class="form-label">
    mail
    <input class="form-input" type="email" name="" id="" />
  </label>
  <label class="form-label">
    password
    <input class="form-input" type="text" name="" id="" />
  </label>
  <div class="form-actions">
    <button class="form-button" type="submit">Registration</button>
    <a class="form-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </div>
</form>
