<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="search-container">
        <img src="/logo.svg" alt="Logo" />
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            placeholder="What are you want to find out?"
            (input)="onInputChange($event)" />
        </div>
        <button class="settings-button" (click)="toggleSortComponent()">
          <img src="/sort.svg" alt="Settings" />
        </button>
      </div>
      <div class="user-info">
        <p>{{ loginData() }}</p>
        <img src="/user.svg" alt="User Icon" class="user-icon" />
        <button class="logout-button" (click)="logout()">logout</button>
      </div>
    </nav>
    <aside class="nav-user-pages">
      <button class="user-page" (click)="navigateToRoute()">all videos</button>
      <button class="user-page" (click)="navigateToRoute('favorite')">favorite page</button>
      <button class="user-page" (click)="navigateToRoute('create-card')">admin page</button>
    </aside>
  </div>
</header>

<div *ngIf="displaySortCpmponent" class="text-block">
  <section class="aside">
    <div class="container">
      <div class="section">
        <p class="sort-text">Sorting by:</p>
        <div class="sort-list">
          <button
            [ngStyle]="{ color: upAndDownType() === 'date' ? 'red' : '#2F80ED' }"
            (click)="handleSortType('date')">
            date
          </button>
          <button
            [ngStyle]="{ color: upAndDownType() === 'date' ? 'red' : '#2F80ED' }"
            (click)="reverseArrow()"
            *ngIf="upAndDownType() === 'date'">
            <img
              [ngClass]="{ arrow: !upAndDownIsAvaliable, arrowUp: upAndDownIsAvaliable }"
              src="/arrow.svg"
              alt="arrow" />
          </button>
          <button
            [ngStyle]="{ color: upAndDownType() === 'countOfViews' ? 'red' : '#2F80ED' }"
            (click)="handleSortType('countOfViews')">
            count of views
          </button>
          <button (click)="reverseArrow()" *ngIf="upAndDownType() === 'countOfViews'">
            <img
              [ngClass]="{ arrow: !upAndDownIsAvaliable, arrowUp: upAndDownIsAvaliable }"
              class="arrow"
              src="/arrow.svg"
              alt="arrow" />
          </button>
          <button
            [ngStyle]="{ color: upAndDownType() === 'byWordOrSentance' ? 'red' : '#2F80ED' }"
            (click)="handleSortType('byWordOrSentance')">
            by word or sentance
          </button>
        </div>
        <input class="sort-input" type="text" name="" id="" />
      </div>
    </div>
  </section>
</div>
