<form action="" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="form-title">Login</h1>
  <label class="form-label">
    login
    <input
      formControlName="username"
      [ngClass]="{ 'form-input-error': form.controls['username'].invalid && form.get('username')?.touched }"
      class="form-input"
      type="text"
      placeholder="Done Joe"
      name=""
      id="" />
    <div
      *ngIf="form.controls['username']?.invalid && (form.get('username')?.touched || form.controls['username']?.dirty)">
      <small *ngIf="form.controls['username'].errors?.['required']"> Username is required. </small>
      <small *ngIf="form.controls['username'].errors?.['email']"> The login email is invalid </small>
    </div>
  </label>
  <label class="form-label">
    password
    <input
      formControlName="password"
      [ngClass]="{ 'form-input-error': form.controls['password'].invalid && form.get('password')?.touched }"
      class="form-input"
      type="text"
      name=""
      id="" />

    <div
      *ngIf="form.controls['password']?.invalid && (form.get('password')?.touched || form.controls['password']?.dirty)">
      <small *ngIf="form.controls['password'].errors?.['required']"> Please enter a password </small>
    </div>

    <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.dirty">
      <small *ngIf="form.controls['password'].errors?.['passwordUpperLowerCases']">
        {{ form.controls['password'].errors?.['passwordUpperLowerCases'] }}
      </small>
    </div>

    <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.dirty">
      <small *ngIf="form.controls['password'].errors?.['passwordLettersNumbers']">
        {{ form.controls['password'].errors?.['passwordLettersNumbers'] }}
      </small>
    </div>

    <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.dirty">
      <small *ngIf="form.controls['password'].errors?.['passwordSpecialCharacter']">
        {{ form.controls['password'].errors?.['passwordSpecialCharacter'] }}
      </small>
    </div>
  </label>
  <div class="form-actions">
    <a class="form-link" [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
    <button type="submit" class="form-button">Login</button>
  </div>
</form>
