<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="search-container">
        <button class="logo-button">
          <img src="/logo.svg" alt="Logo" />
        </button>
        <div class="search-bar">
          <input
            class="search-input"
            type="text"
            placeholder="What are you want to find out?"
            [(ngModel)]="filterDataByText" />
          <button (click)="handleFilterDataByText(filterDataByText)" class="search-button">search</button>
        </div>
        <button class="settings-button" (click)="toggleSortComponent()">
          <img src="/sort.svg" alt="Settings" />
        </button>
      </div>
      <div class="user-info">
        <p>Your Name</p>
        <img src="/user.svg" alt="User Icon" class="user-icon" />
      </div>
    </nav>
  </div>
</header>

<div *ngIf="displaySortCpmponent" class="text-block">
  <section class="aside">
    <div class="container">
      <div class="section">
        <p class="sort-text">Sorting by:</p>
        <div class="sort-list">
          <button [ngStyle]="{ color: upAndDownType === 'date' ? 'red' : '#2F80ED' }" (click)="handleSortType('date')">
            date
          </button>
          <button
            [ngStyle]="{ color: upAndDownType === 'date' ? 'red' : '#2F80ED' }"
            (click)="reverseArrow()"
            *ngIf="upAndDownType === 'date'">
            <img
              [ngClass]="{ arrow: !upAndDownIsAvaliable, arrowUp: upAndDownIsAvaliable }"
              src="/arrow.svg"
              alt="arrow" />
          </button>
          <button
            [ngStyle]="{ color: upAndDownType === 'countOfViews' ? 'red' : '#2F80ED' }"
            (click)="handleSortType('countOfViews')">
            count of views
          </button>
          <button (click)="reverseArrow()" *ngIf="upAndDownType === 'countOfViews'">
            <img
              [ngClass]="{ arrow: !upAndDownIsAvaliable, arrowUp: upAndDownIsAvaliable }"
              class="arrow"
              src="/arrow.svg"
              alt="arrow" />
          </button>
          <button
            [ngStyle]="{ color: upAndDownType === 'byWordOrSentance' ? 'red' : '#2F80ED' }"
            (click)="handleSortType('byWordOrSentance')">
            by word or sentance
          </button>
        </div>
        <input class="sort-input" type="text" name="" id="" />
      </div>
    </div>
  </section>
</div>
