<section class="details-container">
  <button (click)="goBack()" class="goBack-button">
    <img src="/back_button.svg" alt="back_button" />
  </button>
  <div class="details">
    <img class="details-image" src="{{ card?.snippet?.thumbnails?.high?.url }}" alt="{{ card?.snippet?.title }}" />
    <div class="details-info" [ngClass]="getColorClass(card?.snippet?.publishedAt)">
      <div>
        <div class="info-title">
          <h2 class="info-h2">{{ card?.snippet?.title }}</h2>
          <span class="info-publishedAt">{{ card?.snippet?.publishedAt | date: 'full' }}</span>
        </div>
        <div class="description">
          <h3 class="description-title">Description:</h3>
          <p class="description-text">{{ card?.snippet?.description }}</p>
        </div>
      </div>
      <div class="statistics">
        <ul class="card-ul">
          <li class="card-li">
            <img src="/viewed.svg" alt="viewed" />
            <p class="card-text">{{ card?.statistics?.viewCount }}</p>
          </li>
          <li class="card-li">
            <img src="/liked.svg" alt="liked" />
            <p class="card-text">{{ card?.statistics?.likeCount }}</p>
          </li>
          <li class="card-li">
            <img src="/dislike.svg" alt="dislike" />
            <p class="card-text">{{ card?.statistics?.dislikeCount }}</p>
          </li>
          <li class="card-li">
            <img src="/comments.svg" alt="comments" />
            <p class="card-text">{{ card?.statistics?.commentCount }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
